* {
    box-sizing: border-box;
}

/* nav-bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;

}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;

}

li a:hover {
    background-color: #111;
}

/*end of nav-bar*/

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.img-container:hover {
    opacity: 0.6;
    background-color: rgb(125, 230, 224);
  
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.active {
    background-color: rgb(226, 15, 15);
}

.clearfix h2 {
   text-align: center;
   font-weight: bolder;
   font-style: oblique;
}



#news {
    text-align: left;
    padding: 10px;
    margin: 6px;
    background-color: white;
    color: black;
      

}

.jumbotron {
    width: 49%;
    float: left;
    padding: 5px;
    margin: 7px;
    
}

#about {
    text-align: left;
   margin: 5px;
   
   
    background-color: white;
    
}

#contact {

    padding: 10px;
    margin: 6px;
    background-color: white;
    height: 200px;

}
#lastpage {

    padding: 10px;
    margin: 5px;
    background-color:white;
   color: black;
}

#footer {
   width: 100%;
   margin: 7px;
   background-color: #271f1f;
   text-align:center;
   padding:10px;
   margin-top:7px;
   color: white;
   font-weight: 600;
   font-size: 16px;
}

#picha {
    width: 100%;
}
        /*      Media Queries    */
@media only screen and (max-width : 700px) {
   
    #news {
        width: 100%;
      
    }
    #about {
        width: 100%;
    }
    .img-container {
        width: 100%;
    }
    #contact {
        width: 100%;
    }

    #picha {
        width: 100%;
    }

    #lastpage {
        width: 100%;
        font-size: 11px;
        height: 200px;
        
        
    }
    
}